@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade {
  -webkit-animation: fade 1.6s forwards;
          animation: fade 1.6s forwards;
}

.flex-0 {
  flex: 0;
  opacity: 0;
}

.flex-1 {
  flex: 1;
}

.flex-3 {
  flex: 3;
}

.flex-7 {
  flex: 7;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media all and (max-width: 966px) {
  html {
    font-size: 12px;
  }
}
@media all and (max-width: 556px) {
  html {
    font-size: 8px;
  }
}
* {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;
  color: aliceblue;
}

.container {
  width: 100%;
}

.theme--bgc {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/bgc-none-2.png");
  overflow: hidden;
}
.theme--bgc .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
  z-index: 3;
}
.theme--bgc .theme__imgBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.theme--bgc .theme__imgBox .img-theme {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1.6s;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .wrapper {
  transition: all 0.3s;
  overflow: auto;
}
.main .wrapper__btn {
  width: 10%;
  position: absolute;
  right: 0;
  top: 58%;
  z-index: 60;
  transform: translateY(-50%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.main .wrapper__btn span {
  width: 1px;
  height: 2em;
  display: block;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  opacity: 0.7;
}
.main .wrapper__btn span:nth-child(2) {
  opacity: 1;
  width: 1.5em;
  height: 1.5em;
  margin: 1em 0;
  border-radius: 2em;
  cursor: pointer;
  transition: all 0.4s;
}
.main .wrapper__btn span:nth-child(2):hover {
  background-color: #ccc;
  opacity: 0.7;
}
.main .navbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  padding: 1em 0 1em 5em;
}
.main .navbar ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .navbar ul li {
  flex: 1;
}
.main .navbar ul .logo a {
  color: #ccc;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 2em 0;
}
.main .navbar ul .logo a span {
  font-size: 0.7em;
  font-weight: 100;
  margin-left: 4px;
}
.main .navbar ul .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .navbar ul .search__input {
  width: 60%;
  height: 2em;
  border-radius: 2em;
  background-color: transparent;
  padding: 0 2em;
  font-size: 1em;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  border: 1px solid #ccc;
}
.main .navbar ul .search__submit {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-left: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/search.png");
  cursor: pointer;
}
.main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-top: 15vh;
  text-shadow: 2px 2px 5px #333;
}
.main .header__number {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}
.main .header__number li {
  flex: 1;
  white-space: nowrap;
  font-size: 0.5em;
  line-height: 1em;
  font-weight: 100;
  letter-spacing: 3px;
  margin: 1em 0;
}
.main .header__number li:nth-child(1) {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.main .header__number li:nth-child(1) p {
  transform: rotate(-90deg) translateX(50%);
}
.main .header__number li:nth-child(1) span {
  display: inline-block;
  width: 3em;
  height: 0.5px;
  background-color: #ccc;
  margin-top: 4em;
  transform: rotate(-90deg) translateX(50%);
}
.main .header__number li:nth-child(2) {
  font-size: 1.5em;
  padding-left: 3px;
  text-align: center;
}
.main .header__number li:nth-child(3) {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.main .header__number li:nth-child(3) p {
  transform: rotate(-90deg) translateX(-50%);
}
.main .header__number li:nth-child(3) span {
  display: inline-block;
  width: 3em;
  height: 0.5px;
  background-color: #ccc;
  margin-bottom: 4em;
  transform: rotate(-90deg) translateX(-50%);
}
.main .header__title {
  width: 90%;
  padding: 0 3%;
}
.main .header__title h2 {
  font-size: 3em;
  line-height: 1.5;
  font-weight: 100;
  letter-spacing: 0;
  margin: 0;
}
.main .header__title .title {
  width: 90%;
  font-size: 3em;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*省略第n行後的文字*/
  -webkit-box-orient: vertical;
  /*設定元素是垂直布局*/
}
.main .header__title .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}
.main .header__title .info__data .date {
  font-size: 0.8em;
  line-height: 1.5;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
}
.main .header__title .info__data .average {
  font-size: 0.7em;
  line-height: 1.5;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 2em 0 0 0;
}
.main .header__title .info__btn button {
  background-color: transparent;
  border: 1px solid #ccc;
  height: 2em;
  padding: 0 1em;
  font-size: 0.9em;
  line-height: 1.8;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0 0 0 1em;
  border-radius: 2.5em;
  transition: all 0.6s;
  cursor: pointer;
}
.main .header__title .info__btn button:hover {
  background-color: #ccc;
  color: #333;
}
.main .header__title .description {
  width: 100%;
  max-height: 28vh;
  padding-right: 1em;
  font-size: 0.9em;
  line-height: 2em;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 2em 0 0 0;
  overflow: auto;
}
.main .header__title .description::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}
.main .header__title .description::-webkit-scrollbar-thumb {
  position: relative;
  background: #ccc;
  border-radius: 2px;
}
.main .aside {
  transition: all 0.3s;
  height: 100vh;
  -webkit-backdrop-filter: saturate(120%) blur(10px);
          backdrop-filter: saturate(120%) blur(10px);
  overflow: auto;
  padding-top: 1em;
}
.main .aside::-webkit-scrollbar {
  width: 0;
}
.main .aside h2 {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 200;
  letter-spacing: 6px;
  margin: 0;
  opacity: 0.4;
}
.main .aside__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .aside__items .item {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 50%;
  margin: 1em 0;
  padding: 0 1em;
}
.main .aside__items .item__btn {
  width: 100%;
}
.main .aside__items .item__btn button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.main .aside__items .item__btn figure {
  width: 100%;
  aspect-ratio: 3/4;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.main .aside__items .item__btn figure img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .aside__items .item__btn h1 {
  font-size: 1em;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 1em 0 0 0;
  cursor: pointer;
  text-align: left;
}
.main .aside__items .item p {
  font-size: 0.8em;
  line-height: 3em;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 1em 0 0 0;
}
.main .aside__items .item p span {
  position: absolute;
  right: 0.5em;
  bottom: 0;
  width: 3em;
  height: 3em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/plus.png");
  cursor: pointer;
  transition: all 0.6s;
}
.main .aside__items .item p span:hover {
  transform: rotate(10deg);
}
.main .footer {
  transition: all 1s;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .footer span {
  display: inline-block;
  font-size: 1em;
  line-height: 3em;
  font-weight: 100;
  letter-spacing: 3px;
  margin: 0;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */